@font-face {
        font-family: "BankGothic";
        src: url("../fonts/bankgothic-regular.ttf");
}

.bank-gothic > span {
  font-family: "BankGothic", Arial;
  font-weight:normal;
  font-style:normal;
  line-height: 2;
  word-spacing: 0.25em;
  color: #b98f65;
}
.bank-gothic > span > a {
  font-family: "BankGothic", Arial;
  font-weight:normal;
  font-style:normal;
  line-height: 2;
  word-spacing: 0.25em;
  color: #b98f65;
}
