	<div class="d-flex flex-column justify-content-center flex-wrap">
			<span class="span-center-aligned name"></span>
                        <span class="span-center-aligned position"></span>
			<span class="span-center-aligned"><a class="phone_number"></a></span>
			<span class="span-center-aligned"><a class=" email_address"></a></span>
	</div>
