	<div class="d-flex flex-column justify-content-around flex-wrap general-inquiries bank-gothic">
			<span class="span-center-aligned address-street"></span>
			<span class="span-center-aligned address-state-zip"></span>
			<span class="span-center-aligned"><a class="phone_number"></a></span>
			<span class="span-center-aligned"><a class=" email_address"></a></span>
	</div>
